$pri-color: black;
$sec-color: #148282;
$ter-color: #eb545c;

.container-fluid {
    padding-left: 10px;

    h1 {
	padding: 10px;
    }
    
    img {
	max-width: 400px;
	height: auto;
	padding: 10px;
    }

    video {
	max-width: 640px;
	max-height: 480px;
    }

    %nav-a {
	text-decoration: none;
    }
    .side-nav a {
	@extend %nav-a;
	color: $sec-color;
    }

    .inner-nav a {
	@extend %nav-a;
	color: $ter-color;
    }

    .side-nav a:hover {
	color: $ter-color;
    }

    .inner-nav a:hover {
	color: $sec-color;
    }

    @media (max-width: 480px) {
	.side-nav, .inner-nav {
	    font-size: 25px;
	}
    }
}

	
