$pri-color: black;
$sec-color: #148282;
$ter-color: #eb545c;

.container-fluid {
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
    
    
    h1, h2, h3, h4 {
	padding: 10px;
    }

    ul {
	list-style-type: none;
    }
    
    img {
	max-width: 400px;
	height: auto;
	padding: 10px;
    }

    iframe {
	max-width: 640px;
	padding: 10px;
    }
    
    .vid-small {
	max-height: 200px;
	max-width: 640px;
	padding: 10px;
    }
    
    video:not(.vid-small) {
	max-width: 640px;
	max-height: 480px;
	padding: 10px;
    }

    %nav-a {
	text-decoration: none;
    }

    .c-nav a {
	@extend %nav-a;
	color: $sec-color;
    }

    .c-nav a:hover {
	color: $ter-color;
    }

    @media (max-width: 480px) {
	.side-nav, .inner-nav {
	    font-size: 25px;
	}
    }
}

	
